<section class="post h-entry" role="note">
  <h3><a href="{{ post.url }}"><span class="p-name">{{ post.title }}</span></a></h3>
  <p class="byline">
    <a class="u-url" href="{{ post.url }}">
      <time class="dt-published" datetime="{{ post.date.strftime("%Y-%m-%d") }}">
        {{ post.date.strftime('%d %b %Y %H:%M') }}
      </time>
    </a> 
    by <a href="https://bear.im" class="p-author h-card">bear</a>
  </p>
  <article>
    <div class="e-content">
{{ post.html }}
    </div>
  </article>
{% for note in notes %}
{% include "note.jinja" %}
{% endfor %}

</section>
